/* app css stylesheet */

html, body {
  height: 100%;
  width: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  color: #fff;
}

.navmenu > ul {
  padding-top: 120px;
}

.navbar {
	height: 70px;
  display: block;
  text-align: center;
  z-index: 1051;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 1048px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}

a:hover, a:active, a:focus {
outline: 0;
}

@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 2%;
    margin: 0;
    padding: 0;
    z-index: 2000;
    background-color: #222222;
  }
  .nav-justified > li > a  {
    border-bottom: 0px solid #ddd !important;
    border-radius: 1px 1px 0 0 !important;
    margin-bottom: 0 !important;
    z-index: 2000;
  }
}

a:hover, a:active, a:focus {
outline: 0;
}

.nav-tabs {
outline: 0;
margin-top: 70px;
z-index: 2000;
}

.list-group-item div {
padding: 5px;
}

.row {
padding: 5px;
}

.btnMap {
width: 30px;
height: 30px;
padding:auto;
}

.glyphicon-map-marker {
font-size: 17px;
}

.glyphicon-profile {
	width: 42px;
	height: 42px;
	 display: inline-block;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.map-control {
	margin-right: 3px;
}

.glyphicon-profile-btn {
	width: 52px;
	height: 52px;
}

.glyphicon-profile-btn.active {
	-moz-box-shadow: 0px 3px 4px #000;
  	-webkit-box-shadow: 0px 3px 4px #000;
  	box-shadow: 0px 3px 4px #000;
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  margin-top: 5px;
  margin-left: 5px;
}

.navbar-toggle:hover {
-moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0px 0px 2px #fff;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}

.space-l5 {
padding-left: 5px;
}

#main-controller {
height: 100%;
  width: 100%;
}

#view-container {
height: 100%;
width: 100%;
padding-top: 70px;
padding-right: 0;
padding-left: 0;
}

#search-controls {
height: 100%;
  width: 100%;
}

#ng-view {
height: 100%;
  width: 100%;
}

#map-controller {
height: 100%;
  width: 100%;
}

.marker-label {
	-moz-border-radius: 40px;
  	-webkit-border-radius: 40px;
  	border-radius: 40px;
  	
  	z-index: 99;
	position: absolute;
	display: block;
	margin-top: -39px;
	margin-left: -10px;
	width: 40px;
	height: 40px;
}

.marker-icon {
	z-index: 99;
	position: absolute;
	display: block;
	margin-top: -50px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	font-size: 30px !important;
	text-align: center;
	color: #FFFFFF;
	white-space: nowrap;
}

.sharebtn {
	width: 80px;
	float: right;
}

.statustext {
float: right;
}
